.home {
  background-color: #EDF2F7;
  overflow: auto;

  .home-grid {
    width: 100vh;
    margin: auto;
  }

  .title {
    color: #1A202C;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: start;
    margin-top: 19px;
  }

  .right-side {
    display: flex;
    justify-content: end;
    margin-top: 40px;
    margin-bottom: 40px;

    .search-bar {
      input[type=text] {
        color: #4A5568;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #E2E8F0;
        border-radius: 4px;
        margin-right: 10px;
        width: 204px;
        height: 36px;
        padding-left: 35px;

        &:focus-visible {
          outline: none;
        }
      }

      .search-bar-input {
        &::placeholder {
          color: #A0AEC0;
        }
      }

      img {
        position: relative;
        left: 30px;
        top: 3px;
        width: 16px;
        height: 16px;
      }
    }

    .connect-users-button {
      color: #FFFFFF !important;
      line-height: 21px;
      background-color: #475DE5 !important;
      width: 122px;
      height: 40px;
      white-space: nowrap;
    }
  }
}
